# Deliverable 2

In [2]:
import pandas as pd

In [4]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/vine_table.csv"
vine_table_df = pd.read_csv(csv_path)

vine_table_df.head()

   R3DT59XH7HXR9K    5    0  0.1  N  Y
0  R1LFS11BNASSU8  5.0  0.0  1.0  N  Y
1  R296RT05AG0AF6  5.0  0.0  0.0  N  Y
2  R3V37XDZ7ZCI3L  5.0  0.0  1.0  N  Y
3  R14GU232NQFYX2  5.0  0.0  0.0  N  Y
4   RZQH4V7L2O1PL  1.0  1.0  1.0  N  Y

In [6]:
vine_table_df.columns = ["review_id", "star_rating", "helpful_votes", "total_votes", "vine", "verified_purchase"]

vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
1,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
2,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
3,R14GU232NQFYX2,5.0,0.0,0.0,N,Y
4,RZQH4V7L2O1PL,1.0,1.0,1.0,N,Y

In [17]:
vine_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4880465 entries, 0 to 4880464
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   review_id          object
 1   star_rating        float64
 2   helpful_votes      float64
 3   total_votes        float64
 4   vine               object
 5   verified_purchase  object
dtypes: float64(3), object(3)
memory usage: 223.4+ MB

In [32]:
vine_table_votes_df = vine_table_df.loc[vine_table_df['total_votes']>=20]
vine_table_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
17,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
232,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
614,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1064,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1104,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
...,...,...,...,...,...,...
4880459,R2SLX958DGMAIG,4.0,21.0,21.0,N,Y
4880460,R22DLC2P26MUMR,4.0,30.0,41.0,N,N
4880461,R1N6KLTENLQOMT,5.0,84.0,92.0,N,N
4880462,R10TW4QXDV8KJC,4.0,55.0,60.0,N,N
4880463,R41RL2U1FSQ4V,4.0,30.0,42.0,N,N

In [33]:
new_vine_table_df = vine_table_votes_df.loc[((vine_table_votes_df['helpful_votes'])/vine_table_votes_df['total_votes'])>0.5]
new_vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
17,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
232,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
614,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1064,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1104,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
...,...,...,...,...,...,...
4880459,R2SLX958DGMAIG,4.0,21.0,21.0,N,Y
4880460,R22DLC2P26MUMR,4.0,30.0,41.0,N,N
4880461,R1N6KLTENLQOMT,5.0,84.0,92.0,N,N
4880462,R10TW4QXDV8KJC,4.0,55.0,60.0,N,N
4880463,R41RL2U1FSQ4V,4.0,30.0,42.0,N,N

In [35]:
only_vine_table_df = new_vine_table_df.loc[(new_vine_table_df['vine']=="Y")]
only_vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
13469,R1Z71RW4J9IK93,5.0,20.0,22.0,Y,N
18139,R3FVB5QI11KI9Q,4.0,192.0,200.0,Y,N
20155,R2G027YBMVXV6Y,5.0,39.0,48.0,Y,N
26392,R1QGBAN7BMGWRR,5.0,121.0,129.0,Y,N
28368,R2NH2AU7XL9ZDZ,3.0,18.0,20.0,Y,N
...,...,...,...,...,...,...
4662710,R2D7ZSUZ5LME8B,3.0,37.0,48.0,Y,N
4662750,RPNMEK7LNID1S,4.0,129.0,136.0,Y,N
4662751,R1K9IAOAHMQFFK,5.0,80.0,85.0,Y,N
4663305,R3JJWL3N25MFSE,5.0,317.0,329.0,Y,N
4663753,R1T3LTPPABEWPK,5.0,59.0,63.0,Y,N

In [49]:
only_vine_table_df.count()

review_id            1205
star_rating          1205
helpful_votes        1205
total_votes          1205
vine                 1205
verified_purchase    1205
dtype: int64

In [50]:
total_vine_reviews=only_vine_table_df.count()
total_vine_reviews

review_id            1205
star_rating          1205
helpful_votes        1205
total_votes          1205
vine                 1205
verified_purchase    1205
dtype: int64

In [36]:
non_vine_table_df = new_vine_table_df.loc[(new_vine_table_df['vine']=="N")]
non_vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
17,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
232,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
614,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1064,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1104,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
...,...,...,...,...,...,...
4880459,R2SLX958DGMAIG,4.0,21.0,21.0,N,Y
4880460,R22DLC2P26MUMR,4.0,30.0,41.0,N,N
4880461,R1N6KLTENLQOMT,5.0,84.0,92.0,N,N
4880462,R10TW4QXDV8KJC,4.0,55.0,60.0,N,N
4880463,R41RL2U1FSQ4V,4.0,30.0,42.0,N,N

In [51]:
total_non_vine_reviews=non_vine_table_df.count()
total_non_vine_reviews

review_id            97558
star_rating          97558
helpful_votes        97558
total_votes          97558
vine                 97558
verified_purchase    97558
dtype: int64

In [47]:
only_vine_table_df.loc[only_vine_table_df['star_rating']==5].count()

review_id            509
star_rating          509
helpful_votes        509
total_votes          509
vine                 509
verified_purchase    509
dtype: int64

In [52]:
only_vine_5_reviews = only_vine_table_df.loc[only_vine_table_df['star_rating']==5].count()
only_vine_5_reviews

review_id            509
star_rating          509
helpful_votes        509
total_votes          509
vine                 509
verified_purchase    509
dtype: int64

In [48]:
non_vine_table_df.loc[non_vine_table_df['star_rating']==5].count()

review_id            45833
star_rating          45833
helpful_votes        45833
total_votes          45833
vine                 45833
verified_purchase    45833
dtype: int64

In [54]:
non_vine_5_reviews = non_vine_table_df.loc[non_vine_table_df['star_rating']==5].count()
non_vine_5_reviews

review_id            45833
star_rating          45833
helpful_votes        45833
total_votes          45833
vine                 45833
verified_purchase    45833
dtype: int64

In [59]:
percentage_paid_5s = (only_vine_5_reviews['review_id']/ total_vine_reviews['review_id'])*100
percentage_paid_5s

42.24066390041494

In [60]:
percentage_unpaid_5s = (non_vine_5_reviews['review_id']/ total_non_vine_reviews['review_id'])*100
percentage_unpaid_5s

46.98025789786588